<a href="https://colab.research.google.com/github/romisoleli/DataScience-Course/blob/main/Notebook7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**NOTEBOOK 7**

**1) Importa las librerias requeridas: `Pandas` y `NumPy`**

In [36]:
import pandas as pd
import numpy as np
print ("version", np.__version__)

version 2.0.2

**2) Lee el archivo csv life_expectancy_data usando pandas. Guardalo en una variable llamada expvida**

In [8]:
expvida = pd.read_csv('Life_Expectancy_Data (2).csv')
print(expvida)

          Country  Year      Status  Life expectancy   Adult Mortality  \
0     Afghanistan  2015  Developing              65.0            263.0
1     Afghanistan  2014  Developing              59.9            271.0
2     Afghanistan  2013  Developing              59.9            268.0
3     Afghanistan  2012  Developing              59.5            272.0
4     Afghanistan  2011  Developing              59.2            275.0
...           ...   ...         ...               ...              ...
2933     Zimbabwe  2004  Developing              44.3            723.0
2934     Zimbabwe  2003  Developing              44.5            715.0
2935     Zimbabwe  2002  Developing              44.8             73.0
2936     Zimbabwe  2001  Developing              45.3            686.0
2937     Zimbabwe  2000  Developing              46.0            665.0

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
0                62     0.01               71.279624         65.0      1154
1                64     0.01               73.523582         62.0       492
2                66     0.01               73.219243         64.0       430
3                69     0.01               78.184215         67.0      2787
4                71     0.01                7.097109         68.0      3013
...             ...      ...                     ...          ...       ...
2933             27     4.36                0.000000         68.0        31
2934             26     4.06                0.000000          7.0       998
2935             25     4.43                0.000000         73.0       304
2936             25     1.72                0.000000         76.0       529
2937             24     1.68                0.000000         79.0      1483

      ...  Polio  Total expenditure  Diphtheria    HIV/AIDS         GDP  \
0     ...    6.0               8.16         65.0        0.1  584.259210
1     ...   58.0               8.18         62.0        0.1  612.696514
2     ...   62.0               8.13         64.0        0.1  631.744976
3     ...   67.0               8.52         67.0        0.1  669.959000
4     ...   68.0               7.87         68.0        0.1   63.537231
...   ...    ...                ...          ...        ...         ...
2933  ...   67.0               7.13         65.0       33.6  454.366654
2934  ...    7.0               6.52         68.0       36.7  453.351155
2935  ...   73.0               6.53         71.0       39.8   57.348340
2936  ...   76.0               6.16         75.0       42.1  548.587312
2937  ...   78.0               7.10         78.0       43.5  547.358878

      Population   thinness  1-19 years   thinness 5-9 years  \
0     33736494.0                   17.2                 17.3
1       327582.0                   17.5                 17.5
2     31731688.0                   17.7                 17.7
3      3696958.0                   17.9                 18.0
4      2978599.0                   18.2                 18.2
...          ...                    ...                  ...
2933  12777511.0                    9.4                  9.4
2934  12633897.0                    9.8                  9.9
2935    125525.0                    1.2                  1.3
2936  12366165.0                    1.6                  1.7
2937  12222251.0                   11.0                 11.2

      Income composition of resources  Schooling
0                               0.479       10.1
1                               0.476       10.0
2                               0.470        9.9
3                               0.463        9.8
4                               0.454        9.5
...                               ...        ...
2933                            0.407        9.2
2934                            0.418        9.5
2935                            0.427       10.0
2936                            0.427        9.8
2937                            0.434        9.8

[2938 rows x 22 columns]

**3)¿Que tipo de estructura de datos contiene la variable expvida?**

In [6]:
type(expvida)
print(type(expvida))

<class 'pandas.core.frame.DataFrame'>

**4) ¿Cuantas filas y columnas tiene expvida?**

In [29]:
expvida.shape
fil, col = expvida.shape
print("La tabla tiene",fil,"filas y",col,"columnas.")

La tabla tiene 2938 filas y 22 columnas.

**5) ¿Cual es el nombre de las columnas contenidas en expvida?**

In [17]:
expvida.columns
print(expvida.columns)

Index(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'Measles ', ' BMI ', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

**6) Inspecciona las primeras 10 filas de expvida**

In [19]:
expvida.head(10)
print(expvida.head(10))

       Country  Year      Status  Life expectancy   Adult Mortality  \
0  Afghanistan  2015  Developing              65.0              263
1  Afghanistan  2014  Developing              59.9              271
2  Afghanistan  2013  Developing              59.9              268
3  Afghanistan  2012  Developing              59.5              272
4  Afghanistan  2011  Developing              59.2              275
5  Afghanistan  2010  Developing              58.8              279
6  Afghanistan  2009  Developing              58.6              281
7  Afghanistan  2008  Developing              58.1              287
8  Afghanistan  2007  Developing              57.5              295
9  Afghanistan  2006  Developing              57.3              295

   infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   ...  \
0             62     0.01               71.279624           65      1154  ...
1             64     0.01               73.523582           62       492  ...
2             66     0.01               73.219243           64       430  ...
3             69     0.01               78.184215           67      2787  ...
4             71     0.01                7.097109           68      3013  ...
5             74     0.01               79.679367           66      1989  ...
6             77     0.01               56.762217           63      2861  ...
7             80     0.03               25.873925           64      1599  ...
8             82     0.02               10.910156           63      1141  ...
9             84     0.03               17.171518           64      1990  ...

   Polio  Total expenditure  Diphtheria    HIV/AIDS         GDP  Population  \
0      6               8.16           65        0.1  584.259210  33736494.0
1     58               8.18           62        0.1  612.696514    327582.0
2     62               8.13           64        0.1  631.744976  31731688.0
3     67               8.52           67        0.1  669.959000   3696958.0
4     68               7.87           68        0.1   63.537231   2978599.0
5     66               9.20           66        0.1  553.328940   2883167.0
6     63               9.42           63        0.1  445.893298    284331.0
7     64               8.33           64        0.1  373.361116   2729431.0
8     63               6.73           63        0.1  369.835796  26616792.0
9     58               7.43           58        0.1  272.563770   2589345.0

    thinness  1-19 years   thinness 5-9 years  \
0                   17.2                 17.3
1                   17.5                 17.5
2                   17.7                 17.7
3                   17.9                 18.0
4                   18.2                 18.2
5                   18.4                 18.4
6                   18.6                 18.7
7                   18.8                 18.9
8                   19.0                 19.1
9                   19.2                 19.3

   Income composition of resources  Schooling
0                            0.479       10.1
1                            0.476       10.0
2                            0.470        9.9
3                            0.463        9.8
4                            0.454        9.5
5                            0.448        9.2
6                            0.434        8.9
7                            0.433        8.7
8                            0.415        8.4
9                            0.405        8.1

[10 rows x 22 columns]

**7) Y ahora las 10 ultimas.**

In [20]:
expvida.tail(10)
print(expvida.tail(10))

       Country  Year      Status  Life expectancy   Adult Mortality  \
1639  Zimbabwe  2009  Developing              50.0              587
1640  Zimbabwe  2008  Developing              48.2              632
1641  Zimbabwe  2007  Developing              46.6               67
1642  Zimbabwe  2006  Developing              45.4                7
1643  Zimbabwe  2005  Developing              44.6              717
1644  Zimbabwe  2004  Developing              44.3              723
1645  Zimbabwe  2003  Developing              44.5              715
1646  Zimbabwe  2002  Developing              44.8               73
1647  Zimbabwe  2001  Developing              45.3              686
1648  Zimbabwe  2000  Developing              46.0              665

      infant deaths  Alcohol  percentage expenditure  Hepatitis B  Measles   \
1639             30     4.64                1.040021           73       853
1640             30     3.56               20.843429           75         0
1641             29     3.88               29.814566           72       242
1642             28     4.57               34.262169           68       212
1643             28     4.14                8.717409           65       420
1644             27     4.36                0.000000           68        31
1645             26     4.06                0.000000            7       998
1646             25     4.43                0.000000           73       304
1647             25     1.72                0.000000           76       529
1648             24     1.68                0.000000           79      1483

      ...  Polio  Total expenditure  Diphtheria    HIV/AIDS         GDP  \
1639  ...     69               6.26           73       18.1   65.824121
1640  ...     75               4.96           75       20.5  325.678573
1641  ...     73               4.47           73       23.7  396.998217
1642  ...     71               5.12            7       26.8  414.796232
1643  ...     69               6.44           68       30.3  444.765750
1644  ...     67               7.13           65       33.6  454.366654
1645  ...      7               6.52           68       36.7  453.351155
1646  ...     73               6.53           71       39.8   57.348340
1647  ...     76               6.16           75       42.1  548.587312
1648  ...     78               7.10           78       43.5  547.358878

      Population   thinness  1-19 years   thinness 5-9 years  \
1639   1381599.0                    7.5                  7.4
1640  13558469.0                    7.8                  7.8
1641   1332999.0                    8.2                  8.2
1642  13124267.0                    8.6                  8.6
1643    129432.0                    9.0                  9.0
1644  12777511.0                    9.4                  9.4
1645  12633897.0                    9.8                  9.9
1646    125525.0                    1.2                  1.3
1647  12366165.0                    1.6                  1.7
1648  12222251.0                   11.0                 11.2

      Income composition of resources  Schooling
1639                            0.419        9.9
1640                            0.421        9.7
1641                            0.414        9.6
1642                            0.408        9.5
1643                            0.406        9.3
1644                            0.407        9.2
1645                            0.418        9.5
1646                            0.427       10.0
1647                            0.427        9.8
1648                            0.434        9.8

[10 rows x 22 columns]

**8) ¿Que tipos de datos contiene cada una de las columnas de expvida?**

In [30]:
expvida.dtypes
print(expvida.dtypes)

Country                             object
Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
infant deaths                        int64
Alcohol                            float64
percentage expenditure             float64
Hepatitis B                        float64
Measles                              int64
 BMI                               float64
under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
 HIV/AIDS                          float64
GDP                                float64
Population                         float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

**9) ¿Hay valores faltantes en alguna de las columnas de expvida?**

In [31]:
expvida.isnull().sum()
print(expvida.isnull().sum())

Country                              0
Year                                 0
Status                               0
Life expectancy                     10
Adult Mortality                     10
infant deaths                        0
Alcohol                            194
percentage expenditure               0
Hepatitis B                        553
Measles                              0
 BMI                                34
under-five deaths                    0
Polio                               19
Total expenditure                  226
Diphtheria                          19
 HIV/AIDS                            0
GDP                                448
Population                         652
 thinness  1-19 years               34
 thinness 5-9 years                 34
Income composition of resources    167
Schooling                          163
dtype: int64

**10) Selecciona el maximo de datos faltantes y calcula que porcentaje de los datos representan los datos faltantes.**

In [35]:
maxval= expvida.isnull().sum().max()
print (f"El valor máximo de datos faltantes es {maxval}")

El valor máximo de datos faltantes es 652

In [53]:
#Realizo la sumatoria de todas las celdas que contienen valores nulos.
sumnul=expvida.isnull().sum().sum()
print("La sumatoria de valores nulos es",sumnul)
#Realizo la multiplicacion de las filas y columnas para obtener el total de celdas
sumfil=expvida.shape[0]
sumcol=expvida.shape[1]
total=sumfil*sumcol
print("El total de celdas del dataset es", total)
#Obtengo el porcentaje que representa la sumatoria de los valores nulos sobre el total de celdas y redondeo el resultado
porcentaje=round((sumnul/total)*100,2)
print(f"El porcentaje de valores nulos es {porcentaje} %")

La sumatoria de valores nulos es 2563
El total de celdas del dataset es 64636
El porcentaje de valores nulos es 3.97 %

**11) Renombra la columna 'Life expectancy ' como 'life_expectancy', ' BMI ' como 'bmi' y ''Measles ' como 'measles'. No olvides de usar inplace para modificar el DataFrame original. Luego chequea que el cambio se haya hecho correctamente.**

In [23]:
expvida.rename(columns={'Life expectancy ': 'life_expectancy', ' BMI ': 'bmi', 'Measles ': 'measles'}, inplace=True)
print(expvida.columns)

Index(['Country', 'Year', 'Status', 'life_expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'measles', 'bmi', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

**12) ¿Cual es el promedio de expectativa de vida (Life expectancy) en general?**

In [66]:
prom_le=expvida['life_expectancy'].mean()
prom_le=round(prom_le, )
print(f"El promedio de la expectativa de vida es {prom_le} %")

El promedio de la expectativa de vida es 69 %

**13) ¿Cual es el promedio de expectativa de vida (Life expectancy) por país?**

In [82]:
prom_le_pais=expvida.groupby('Country')['life_expectancy'].mean()
prom_le_pais=round(prom_le_pais)
print(prom_le_pais, "%")

Country
Afghanistan                           58.0
Albania                               75.0
Algeria                               74.0
Angola                                49.0
Antigua and Barbuda                   75.0
                                      ...
Venezuela (Bolivarian Republic of)    73.0
Viet Nam                              75.0
Yemen                                 64.0
Zambia                                54.0
Zimbabwe                              50.0
Name: life_expectancy, Length: 193, dtype: float64 %

**14) ¿Cual es la expectativa de vida mas alta y mas baja? Usa la funcion de pandas y la funcion de NumPy y compara el resultado. ¿Que paises tienen esas expectativas de vida?**

In [87]:
#usando pandas
max_le=expvida['life_expectancy'].max()
print(f"La expectativa de vida más alta es {max_le} %")
min_le=expvida['life_expectancy'].min()
print(f"La expectativa de vida más baja es {min_le} %")

La expectativa de vida más alta es 89.0 %
La expectativa de vida más baja es 36.3 %

In [94]:
#usando numpy
max_le=np.max(expvida['life_expectancy'])
print(f"La expectativa de vida más alta es {max_le} %")
min_le=np.min(expvida['life_expectancy'])
print(f"La expectativa de vida más baja es {min_le} %")

La expectativa de vida más alta es 89.0 %
La expectativa de vida más baja es 36.3 %

In [101]:
#obtengo solo el nombre de los países que tienen el valor maximo y minimo en expectativa de vida
paises_max_le=expvida.loc[expvida['life_expectancy'] == max_le, 'Country']
paises_min_le=expvida.loc[expvida['life_expectancy'] == min_le, 'Country']
print (f"Los países con la expectativa de vida más alta son {paises_max_le.to_string(index=False)}")
print (f"Los países con la expectativa de vida más baja es {paises_min_le.to_string(index=False)}")

Los países con la expectativa de vida más alta son     Belgium
    Finland
     France
     France
    Germany
      Italy
New Zealand
     Norway
   Portugal
      Spain
     Sweden
Los países con la expectativa de vida más baja es Haiti

**15) ¿Cuantas categorias encontramos en la columna "Status"? Pista: Lee acerca de la función unique()**

In [102]:
# Obtengo los valores unicos de la columna status
valores_unicos = expvida['Status'].unique()
print(valores_unicos)

['Developing' 'Developed']

**16) ¿Cuantos paises se ubican en cada una de esas categorias de "Status"? Pista: Lee acerca de la función value_counts()**

In [9]:
expvida.groupby('Status')['Country'].value_counts()

Status      Country
Developed   Australia                16
            Austria                  16
            Belgium                  16
            Bulgaria                 16
            Croatia                  16
                                     ..
Developing  Niue                      1
            Palau                     1
            Saint Kitts and Nevis     1
            San Marino                1
            Tuvalu                    1
Name: count, Length: 193, dtype: int64

In [11]:
expvida.groupby('Status')['Country'].value_counts()

Status      Country
Developed   Australia                16
            Austria                  16
            Belgium                  16
            Bulgaria                 16
            Croatia                  16
                                     ..
Developing  Niue                      1
            Palau                     1
            Saint Kitts and Nevis     1
            San Marino                1
            Tuvalu                    1
Name: count, Length: 193, dtype: int64

In [12]:
expvida['Status'].value_counts()

Status
Developing    2426
Developed      512
Name: count, dtype: int64

**17) ¿Cuantos paises presentaron algun caso de Sarampion (Measles) en el 2015? Pista: Lee acerca de la función .count()**

In [35]:
#Todos los valores del año 2015
sarampion_year = expvida[(expvida['Year'] == 2015)]
#Sumatoria de casos de sarampion en el 2015 (no se pidió, pero lo calculé para practicar)
Sumat_casos = sarampion_year['measles'].count()
print(f"La sumatoria de casos de sarampión en 2015 es: {Sumat_casos}")
#Filtro la tabla sarampion_year para saber los paises que poseen uno o mas casos de sarampión
sarampion_country = sarampion_year[sarampion_year['measles'] > 0]
sarampion_count = sarampion_country['Country'].nunique()
print("Total de paises con casos", sarampion_count)

La sumatoria de casos de sarampión en 2015 es: 183
Total de paises con casos 121